/*CSS reset settings here*/
    *{
        padding: 0px;
        margin: 0px;
    }
    
    .wrapper{
        background-color: #fafafa;
        width: 920px;
        min-height: 300px
    }

    .gradientheader{
        background-image: linear-gradient(#b2b2b5, #8b8996, #b2b2b5);
        color: white;
    }

    .icondiv{
        display: inline-block;
        width: 44px;
        height: 44px;
    }

    .descbox{
        height: 150px;;
    }

    .mbbutton{
        height: 42px;
        line-height: 42px;
        vertical-align: middle;
        text-align:center;
    }

    .italund{
        font-family: Arial, Helvetica, sans-serif;
        font-style: italic;
        text-decoration: underline;
    }

    button {
        font-weight: bold;
        padding: 5px;
        border-radius: 8px;
        color: white;
        background-color: #407d61;
        border: 1px solid black;
        box-shadow: 3px 3px 3px #888888;
    }

    #top{
        background-color: #f3f3f3;
    }

    #topleft{
        display: inline-block;
        padding-left: 20px;
        width: 450px;
        height: 60px;
        line-height: 50px;
        vertical-align: top;
        font-family: "Comic Sans MS", cursive, sans-serif;
        font-weight: bold;
        font-size: 28px;
    }

    #topright{
        display: inline-block;
        padding-left: 70px;
        width: 345px;
        height: 60px;
        line-height: 50px;
        vertical-align: top;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 20px;
    }
    
    #main{
        background-image: radial-gradient(#6f5964, #1b0b0f, #1b0b0f);
        height: 852px;
    }

    #maintop{
        height: 298px;
    }

    #maintop h3{
        padding-left: 10px;
        height: 40px;
        line-height: 40px;
        vertical-align: middle;
        font-family: Arial, Helvetica, sans-serif;
    }

    #mainbottom{
        height: 700px;
    }


    #maintopleft{
        display: inline-block;
        width: 388px;
        height: 258px;
        vertical-align: top;
        margin: 20px;
        background-color: #c0c0c0;
    }

    #maintopleft img{
        padding: 4px;    
    }

    #maintopright{
        display: inline-block;
        width: 460px;
        height: 258px;
        vertical-align: top;
        background-color: #ded1dd;
        margin-top: 20px;
        background-image: linear-gradient(to right, white , #daccd9);
    }

    #maintopright p{
        margin-top: 15px;
        margin-bottom: 15px;
        font-family: Arial, Helvetica, sans-serif;
        padding-left: 5px;
        font-size: 15.5px;
        background-image: linear-gradient(to right, white , #daccd9);

    }    

    #mainbottom p{
        height: 145px;
        margin-left: 7px;
        margin-right: 7px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 13px;
    }


    
    #mainbottom h3{
        padding-left: 10px;
        height: 40px;
        line-height: 40px;
        vertical-align: middle;
        font-family: Arial, Helvetica, sans-serif;
    }

    #mainbottom h4{
        padding-left: 10px;
        height: 40px;
        line-height: 40px;
        vertical-align: middle;
        font-family: Arial, Helvetica, sans-serif;
    }


    #mainbottomleft{
        margin-top: 5px;
        margin-left: 20px;
        vertical-align: top;
        display: inline-block;
        width: 275px;
        height: 525px;
        background-image: linear-gradient(to right, white , #daccd9);
    }

    #mainbottomcenter{
        margin-top: 5px;
        margin-left: 20px;
        vertical-align: top;
        display: inline-block;
        width: 275px;
        height: 525px;
        background-image: linear-gradient(to right, white , #daccd9);

    }

    #mainbottomright{
        margin-top: 5px;
        margin-left: 20px;
        vertical-align: top;
        display: inline-block;
        width: 275px;
        height: 525px;
        background-image: linear-gradient(to right, white , #daccd9);
    }

    #mblgrid{
        margin-left: 20px;
        margin-top: 15px;
    }

    #mbcgrid{
        margin-left: 20px;
        margin-top: 15px;
    }
    #mbrgrid{
        margin-left: 20px;
        margin-top: 15px;
    }

    #footer{
        background-color: #f8f8f8;
        height: 65px;;
    }

    #footer p{
        height: 29px;
        line-height: 29px;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        vertical-align: middle;
    }

    #footer img{
        vertical-align: middle;
    }


