<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="topcontainer d-flex justify-content-center">
        <div class="formcontainer  w-50 border border-primary" style="display: inline-block; margin-top: 100px">
            <form action="/action_page.php">
                <div class="form-group">
                    <label for="fullname">Your Name:</label>
                    <input type="text" class="form-control" id="fullname">
                </div>
                <div class="form-group">
                    <label for="email">Dojo Location:</label>
                    <select>
                        <option value="San Jose">San Jose</option>
                        <option value="Seattle">Saab</option>
                        <option value="Los Angeles">Los Angeles</option>
                        <option value="Dallas">Dallas</option>
                        <option value="Tysons Corner">Tysons Corner</option>
                        <option value="Chicago">Chicago</option>
                        <option value="Tulsa">Tulsa</option>                        
                        <option value="Berkeley">Berkeley</option>
                        <option value="Boise">Boise</option>      
                    </select>
                </div>
                <div class="form-group">
                    <label for="email">Favorite Language:</label>
                    <select>
                            <option value="Javascript">San Jose</option>
                            <option value="Python">Saab</option>
                            <option value="Java">Los Angeles</option>
                            <option value="C/C++">Dallas</option>
                            <option value="C#">Tysons Corner</option>
                        </select>
                </div>
                <div class="form-group">
                    <label for="email">Comment (optional):</label>
                    <input type="email" class="form-control" id="email">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>



</body>