/*CSS reset settings here*/
*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.headerlabel {
    margin: 20px 0px 20px 20px;
    font-size: 26px;
}

.fncol-1 {
    width: 200px;
}

.fncol-2 {
    width: 100px;    
}

.fncol-3 {
    width: 100px;
}

.fncol-4 {
    width: 100px;    
}

.summaryline {
    margin-left: 50px;
}

.gobacklink {
    margin-left: 20px;
}