<head>
<style>
h1 {
    color: maroon;
    text-align: center;
    margin-top: 50px;
}

.container {
    display: table;
    margin: auto;
}

.bluebox{
    display: inline-block;
    width: 250px;
    height: 250px;
    margin-right: 15px;
    margin-top: 15px;
    background-color: lightblue;
}
</style>
</head>
<body>
    <h1>Welcome!</h1>
    <div class="container">
        {% for x in range(times): %}
        <div class='bluebox' style='background-color:{{bgcolor}}'></div>
        {% endfor %}
    </div>
</body>