<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Test Form to practice CSS</title>
        {% load static %}
        <!-- The line above tells Django to be ready to listen for static files -->
        <link rel="stylesheet" href="{% static 'blogs/css/style.css' %}">
        <!-- Put the static files in the static folder inside your app.  
            Django collects files within all static folders and puts them within a single folder -->
    </head>
    <body>
        <div class="toplevelcontainer">
            <div class="topdiv">
            </div>
            <div class="middlediv">
                <div class="tablediv">
                    <table class="formtable">
                        <thead>
                            <tr>
                                <th class="fncol-1">Column One Head</th>
                                <th class="fncol-2">Column Two Head</th>
                                <th class="fncol-3">Column Three Head</th>                                                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Column One Body</td>
                                <td>Column Two Body</td>
                                <td>Column Three Body</td>                                                                
                            </tr>
                            <tr>
                                    <td>Column One Body</td>
                                    <td><input type="text" class="formtextbox"></td>
                                    <td>Column Three Body</td>                                                                
                            </tr>
                            <tr>
                                    <td>Column One Body</td>
                                    <td>Column Two Body</td>
                                    <td>Column Three Body</td>                                                                
                            </tr>
                        </tbody>
                    </table>

                </div>

            </div>
            <div class="bottomdiv">


            </div>
        </div>
    </body>
</html>