/*CSS reset settings here*/
    *{
        margin: 0px;
        padding: 0px;
        font-family: Arial, Helvetica, sans-serif;
    }

    #wrapper{
        width: 950px;
        /* background-color: silver; */
    }

    #top{
        width:948px;
        height: 69px;
        border-radius: 5px;   
        background-image: linear-gradient(#f8f8f8, #e7e7e7, #e0e0e0);
     
        border: 1px solid gray;
    }

    #topmenubar{
        vertical-align: top;
        width: 600px;
        height: 67px;
        display: inline-block;
        /* border: 1px solid gray; */
    }

    .menubar{
        vertical-align: top;
        padding-top: 25px;
        display: inline-block;
        height: 42px;
        font-weight: bold;
        border-right: 1px solid lightgray;
    }

    #mnuStore{
        width: 65px;
        padding-left: 20px;
    }

    #mnuBlog{
        width: 60px;
        padding-left: 20px;
    }

    #mnuForums{
        width: 80px;
        padding-left: 20px;
    }

    #mnuSupport{
        width: 80px;
        padding-left: 20px;
    }

    #mnuContact{
        width: 85px;
        padding-left: 20px;
    }

    #topsearchbox{
        width: 320px;
        height: 67px;
        display: inline-block;
 
    }

    #searchtext{
        display: inline-block;
        margin-left: 100px;
        margin-top: 19px;
        border: 1px solid lightgray;  
        border-radius: 15px 0px 0px 15px;
        height: 27px;        
        width:  175px;
    }

    #searchbutton{
        display: inline-block;
        vertical-align: top;
        margin-top: 19px;
        height: 28px;   
        width: 32px;  
        background-repeat: no-repeat;
        background-image: url("../img/menu_icon2.png");

    }

    #middle{
        margin-top: 15px;
        width:948px;
        height: 399px;
        border: 1px solid gray;



    }

    #middletop{
        width:948px;
        height: 399px;
        background-image: url("../img/main.png");
        background-repeat: no-repeat;
        background-size: 948px 399px;
    }

    #middlebottom{
        width:948px;
        height: 38px;

        background-image: linear-gradient(#535353, #474747, #353535);
        border-radius: 0px 0px 5px 5px;

    }

    #textcontainer{
        padding-top: 10px;
        padding-left: 20px;
    }

    .middlebottomtext{
        vertical-align: top;        
        line-height: 20px;
        margin: 0px 10px 0px 10px;
        padding-top: 10px;
        font-size: 13px;
    }

    #bottom{
        width:948px;
        height: 500px;
        border: 1px solid gray;

    }


    .colorwhite{
        color: white;
    }

    .colorblue{
        color: lightblue;
    }

    .colorgray{
        color: gray;
    }

