<!DOCTYPE html>
<html lang="en">

<head>
    <title>Wall Dashboard</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
</head>

<body>
    <div id="toplevelcontainer">
        <div class="header">
            <div class="dbheadertext">Coding Dojo Wall (Simplified)</div>
            <label class="headerlabel">Welcome {{ curUser['first_name'] }}!</label>
            <form class="logoutbuttonform" action="/logout" method="POST">
                <input class="logoutbutton btn btn-primary" type="submit" value="Logout">
            </form>
        </div>
        <br>
        <div class="mainsection">
            <div class="leftsection">
                <p class="sectionheader">{{ lenmessageList }} message(s) for you {{ first_name }}</p>
                <table class="table">
                    {% for messageItem in messagesToList %}                    
                        <tr>
                            <td class="messagesrow1">{{ messageItem['first_name'] }} said on {{ messageItem['created_at'] }}<p>{{ messageItem['content'] }}</td>
                            <td><a href="delete_message/{{ messageItem['id'] }}"><img border="0" alt="Delete Message" src="../static/img/trashcan.png" width="20" height="20"></a></td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="rightsection">
                <p class="sectionheader">Send a message.</p>
                <p>You have sent a total of {{ messageSentCount }} messages so far.</p>
                <table class="sendMessageTable">
                    {% for account in otherAccountsList %}                    
                        <tr >
                            <form action="post_message" method="POST">
                                <td class="messagesrow">
                                    {{ account['first_name'] }}
                                    <input type="hidden" name="to_id" value="{{ account['id'] }}">
                                    <input type="hidden" name="from_id" value="{{ curUser['id'] }}">                                
                                </td>
                                <td><textarea class="msgStyle" name="msg_text" rows="4"></textarea></td>
                                <td><input type="submit" class="btn btn-primary" value="Send"></td>
                            </form>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</body>

</html>