/*CSS reset settings here*/
    *{
        margin: 3px;
        padding: 0px;
        font-family: Arial, Helvetica, sans-serif;

    }

    .darkgraybox{
        background-color: darkgray;
        border: 1px solid darkgray;
    }

    .graybox{
        background-color: lightgray;
        border: 1px solid lightgray;
    }

    .yellowbox{
        background-color: #ffff86;
        border: 1px solid #ffff86;
    }

    .px1024andhigher{
        display: block;
    }

    .between481and1023{
        display: none;
    }

    .px480andless{
        display: none;
    }

    .bolded{
        font-weight: bold;
    }

    @media screen and (max-width:1023px) {
        
        .px1024andhigher{
            display: none;
        }

        .between481and1023{
            display: block;
        }     

        .px480andless{
            display: none;            
        }
    }

    @media screen and (max-width:480px) {
        
        .px1024andhigher{
            display: none;
        }

        .between481and1023{
            display: none;
        }     

        .px480andless{
            display: block;            
        }
    }





