<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Index</title>
    {% load static %}
    <!-- The line above tells Django to be ready to listen for static files -->
    <link rel="stylesheet" href="{% static 'semi_restful_users/css/style.css' %}">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>

    <div class="header">Add a new user</div>
    <div class="userdiv">
        <form action="create" class="userform" method="POST">
            {% csrf_token %}
            <p class="userinfo">First name:</p>
            <input type="text" name="first_name" value="{{user.first_name}}">
            <p class="userinfo">Email: {{user.email}}</p>
            <input type="text" name="last_name" value="{{user.last_name}}">
            <p class="userinfo">Email: {{user.email}}</p>
            <input type="text" name="email" value="{{user.email}}">            
            <br>
            <br>            
            <input class="submitstyle" type="submit" value="Create">
        </form>
    </div>
    <div class="footer">
        <a href="/">Show</a> | 
        <a href="../../">Go Back</a>
    </div>
</body>

</html>