/*CSS reset settings here*/
    *{
        margin: 0px;
        padding: 0px;
        font-family: Arial, Helvetica, sans-serif;
    }

    #wrapper{
        width: 750px;
        height: 630px;
    }

    #top{
        width: 750px;
        height: 110px;
    }

    #topline1{
        width: 750px;
        height: 65px;
        font-size: 36px;
    }

    #topline2{
        width: 738px;
        height: 38px;
        font-size: 24px;
        padding-left: 10px;
        padding-top: 7px;
        background-image: linear-gradient(#23659e, #477ca9, #23659e);
        color: white;
    }

    #toplinetext{
        vertical-align: top;
        line-height: 80px;
        padding-top: 15px;
        margin-left: 0px;
        padding-left: 0px;
    }

    #toplinespan{
        vertical-align: top;
        color: #22659e;
    }

    #sidebar{
        vertical-align: top;
        margin-top: 1px;
        margin-left: 1px;
        display: inline-block;
        width: 198px;
        height: 520px;
    }

    #sbtop{
        height: 152px;
        width: 158px;
        border-bottom: 1px solid #afafaf;
    }

    #sbparagraph1{
        font-size: 13px;
        font-weight: bold;
        margin-left: 3px;
        margin-top: 17px;
    }

    #sbparagraph2{
        width: 155px;
        font-size: 11px;
        font-weight: bold;
        margin-left: 3px;
        margin-top: 7px;
    }

    #sbbutton1{
        margin-top: 15px;
        margin-left: 3px;
        font-weight: bold;
        width: 150px;
        height: 30px;
        border-radius: 5px;
        color: white;
        background-color: #3674a9;
        box-shadow: 1px 1px 1px #888888;
    }

    #sbbutton2{
        margin-left: 3px;
        font-weight: bold;
        width: 150px;
        height: 30px;
        border-radius: 5px;
        color: white;
        background-color: #ee8300;
        box-shadow: 1px 1px 1px #888888;
    }

    #sbbottom{
        margin-top: 20px;
        background-image: url("../img/ad_background.png");
        width: 158px;
        height: 235px;
    }

    #sbtext{
        padding-top: 13px;
        color: white;
        font-size: 19px;
        text-align: center;
    }

    #sbimage{
        margin-top: 5px;
        margin-left: 43px;
    }

    #sbbutton3{
        margin-left: 9px;
        margin-top: 8px;
        font-weight: bold;
        width: 140px;
        height: 24px;
        border-radius: 5px;
        border-width: 0px;
        border-color: black;
        color: white;
        background-color: #00c2df;
        box-shadow: 1px 1px 1px black;
    }

    #arrow1{
        font-size: 8px;
        color:#80dbea;
    }

    #arrow2{
        font-size: 8px;
        color: #81dcea;
        
    }

    #arrow3{
        font-size: 8px;
        color: #8ddfec
        
    }


    #mainbody{
        display: inline-block;
        width: 544px;
        height: 520px;
    }

    #mainbodytop{
        border-bottom: 1px solid gray;
    }

    #mbtleft{
        vertical-align: top;
        display: inline-block;
        height: 51px;
        width: 100px;
    }

    #mbtleft img{
        margin-top: 3px;
        margin-left: 5px;
    }

    #mbtDNS{
        line-height: 15px;
        color: #477ca9;
        font-size: 14px;
        vertical-align: center;
    }

    #mbtmiddle{
        display: inline-block;
        vertical-align: top;
        width: 300px;
    }

    #mbtmiddle img{
        padding-left: 270px;
        padding-top: 8px;
    }

    #mbtright{
        display: inline-block;
        width: 120px;
        height: 50px
    }

    #right1 {
        margin-left: 10px;
        font-size: 8px;
    }

    #right2{
        font-size: 20px;
        color: #16bfe3;
        font-weight: bold;
        margin-left: 5px;
        margin-top: 2px;
    }

    #right3{
        font-size: 8px;
        margin-left: 11px;
    }

    #mainbodybottom{
        border: solid #0a82e8;
        border-width: 4px 4px 0px 4px
    }

    .mainsectionHeader{
        font-size: 15px;
        font-weight: bold;
        color: #2463a3;
        margin-top: 5px;
    }

    #main{
    background-image: linear-gradient(#f8f8f8, white, white);
    }

    #bottomleft{
        vertical-align: top;
        display: inline-block;
        width: 90px;
    }

    #bottomleft img{
        margin-left: 7px;
        margin-top: 7px;
    }

    #bottomright{
        vertical-align: top;
        display: inline-block;
        margin-left: 12px;
        width: 410px;
    }

    .mainsectiontext{
        font-size: 11px;
        margin-top: 5px;     
        list-style-position: outside;
    }

    .mainsectiontext li{
        margin-bottom: 5px;
    }

    .mainliststyle{
        margin-left: 35px;
    }

    .redtext{
        color: red;
    }

    .bluetext{
        color: #63bdcf;
    }

    .centered{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 37%;
    }
